.form{
    display: block;
    margin-top: 0em;
        background-color: transparent;
}

.location input {
    border: none;
    background-color: transparent;
    margin-left: 5px;
    font-weight: 700;
    font-size: large;
}
