.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    background: linear-gradient(#FF79DA, #9356DC);
    font-size: 15px;
    color: white;
    border-radius: 100px;
    box-shadow: 1px 2px 8px #c1c1c1;
    cursor: pointer;
    &:hover {
        transition-duration: 500ms;
        transform: scale(1.05);
        opacity: 0.9;
        box-shadow: -1px 3px 26px 5px rgba(0,0,0,0.40);
    }

}

.button-info__btn {
    margin-top: 20px;
    margin-bottom: 50px;
}


    
 

