.loading{
    background-color: $light-color-primary;
    opacity: 0.9;
    height: 100vh;
    position: fixed;
    inset:0;
    z-index: 1;
    animation: time 200ms forwards;
    animation-delay: 3s;
    transform-origin: middle;
}

.loader{
    border-top: 10px solid $color-primary;
    border-left: 10px solid $color-secondary;
    border-bottom: 10px solid $color-tertiary;
    border-right: 10px solid grey;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: spin 1s ease-in-out infinite forwards;

/* Placement du loader au milieu de la page */
    margin: auto;
    position: absolute;
    inset:0;
}
